<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osen.cloud.model.data.DataHistoryMapper">

    <update id="createNewTable" parameterType="string">
        CREATE TABLE ${tableName} (
            `id` INT (11) NOT NULL AUTO_INCREMENT COMMENT '主键',
            `device_no` VARCHAR (50) DEFAULT NULL COMMENT '设备号',
            `date_time` datetime DEFAULT NULL COMMENT '接受日期',
            `lampblack` DECIMAL (6, 2) DEFAULT '0.00' COMMENT '油烟浓度',
            `lampblack_flag` CHAR (5) DEFAULT NULL COMMENT '油烟浓度状态值',
            `pm` DECIMAL (6, 2) DEFAULT '0.00' COMMENT '颗粒物浓度',
            `pm_flag` CHAR (5) DEFAULT NULL COMMENT '颗粒物状态值',
            `nmhc` DECIMAL (6, 2) DEFAULT '0.00' COMMENT '非甲烷总烃浓度',
            `nmhc_flag` CHAR (5) DEFAULT NULL COMMENT '非甲烷总烃状态值',
            `fan_flag` INT (11) DEFAULT NULL COMMENT '风机状态值',
            `purifier_flag` INT (11) DEFAULT NULL COMMENT '净化器状态值',
            PRIMARY KEY (`id`),
            KEY `device_no` (`device_no`, `date_time`) USING BTREE
        ) ENGINE = MyISAM DEFAULT CHARSET = utf8;
    </update>

</mapper>