<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.osen.cloud.model.coldchain.ColdChainDayMapper">

    <update id="createNewTable" parameterType="string">
        CREATE TABLE ${tableName} (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `device_no` varchar(50) DEFAULT NULL COMMENT '设备号',
          `date_time` datetime DEFAULT NULL COMMENT '接受日期',
          `T01` decimal(6,2) DEFAULT '0.00' COMMENT '监控点温度01',
          `T01_max` decimal(6,2) DEFAULT '0.00',
          `T01_min` decimal(6,2) DEFAULT '0.00',
          `T01_flag` varchar(5) DEFAULT 'N',
          `H01` decimal(6,2) DEFAULT '0.00' COMMENT '监控点湿度01',
          `H01_max` decimal(6,2) DEFAULT '0.00',
          `H01_min` decimal(6,2) DEFAULT '0.00',
          `H01_flag` varchar(5) DEFAULT 'N',
          `T02` decimal(6,2) DEFAULT '0.00' COMMENT '监控点温度02',
          `T02_max` decimal(6,2) DEFAULT '0.00',
          `T02_min` decimal(6,2) DEFAULT '0.00',
          `T02_flag` varchar(5) DEFAULT 'N',
          `H02` decimal(6,2) DEFAULT '0.00' COMMENT '监控点湿度02',
          `H02_max` decimal(6,2) DEFAULT '0.00',
          `H02_min` decimal(6,2) DEFAULT '0.00',
          `H02_flag` varchar(5) DEFAULT 'N',
          `T03` decimal(6,2) DEFAULT '0.00' COMMENT '监控点温度03',
          `T03_max` decimal(6,2) DEFAULT '0.00',
          `T03_min` decimal(6,2) DEFAULT '0.00',
          `T03_flag` varchar(5) DEFAULT 'N',
          `H03` decimal(6,2) DEFAULT '0.00' COMMENT '监控点湿度03',
          `H03_max` decimal(6,2) DEFAULT '0.00',
          `H03_min` decimal(6,2) DEFAULT '0.00',
          `H03_flag` varchar(5) DEFAULT 'N',
          `T04` decimal(6,2) DEFAULT '0.00' COMMENT '监控点温度04',
          `T04_max` decimal(6,2) DEFAULT '0.00',
          `T04_min` decimal(6,2) DEFAULT '0.00',
          `T04_flag` varchar(5) DEFAULT 'N',
          `H04` decimal(6,2) DEFAULT '0.00' COMMENT '监控点湿度04',
          `H04_max` decimal(6,2) DEFAULT '0.00',
          `H04_min` decimal(6,2) DEFAULT '0.00',
          `H04_flag` varchar(5) DEFAULT 'N',
          `longitude` varchar(50) DEFAULT NULL COMMENT '经度',
          `latitude` varchar(50) DEFAULT NULL COMMENT '纬度',
          PRIMARY KEY (`id`),
          KEY `device_no` (`device_no`,`date_time`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

</mapper>